@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #FFA27F;
}

h1 {
    text-align: center;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    display: flex;
    gap: 4px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 12px;
}

.tarjeta-moquepon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 180px;
    height: 110px;
    border-radius: 8px;
    background-color: #FFE8C5;
}

.tarjeta-moquepon img {
    width: 80px;
    object-fit: cover;
}

input {
    display: none;
}

input:checked + .tarjeta-moquepon {
    background-color: #97BE5A;
}

#button-mascota {
    margin-top: 12px;
    width: 160px;
    height: 40px;
    color: white;
    font-family: "Open Sans", sans-serif;
    background-color: #FF0000;
    border-radius: 8px;
    cursor: pointer;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-ataque {
    width: 130px;
    padding: 10px;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
}


#mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    width: 260px;
    border-radius: 20px;
    background-color: #97BE5A;
}

#button-reiniciar {
    width: 80px;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
}

.tarjeta-ataque {
    display: grid;
    grid-template-columns: 150px 150px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 20px;
}

.tarjeta-mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-ataque-izquierda {
    border-right: 2px solid white;
}

#ver-mapa {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    border: 2px solid white;
}

@media (max-width:360px) {
    .tarjeta, .button-ataques {
        display: flex;
        flex-direction: column;
    }
    .button-ataques {
        gap: 4px;
    }
}
